@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "~bulma";

.flex-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
